/* HeroesComponent's private CSS styles */
.heroes {
    margin: 1em;
    background-color: #3a3a3a;
    width: 20em;
    display: inline-block;
    align-items: center;
    text-align: center;
  }  
  
  .badge {
    display: inline-block;
    font-size: small;
    color: white;
    text-align: right;
    margin-right: .8em;
  }
  .heroes ul {
    text-align: center;
    padding: 0;
    display: block;
    font-size: 1.0em;
  }